<?php

// Don't do this. The app will do this.
// define('JIRA_URL', 'https://your.jira.com/rest');
// define('JIRA_USER', 'username');
// define('JIRA_PASS', 'password');

define('DB_INC_PATH', '../inc/db');
define('DB_PATH', 'db/jira.sqlite3');

define('SECRET', "Don't tell anyone, but my favorite color is PINK! Also known as #FFC0CB.");

define('DEBUG', false);
