<?php

const DB_PATH = 'db/jira.sqlite3';

const SECRET = "Don't tell anyone, but my favorite color is PINK! Also known as #FFC0CB.";

const DEBUG = false;

const OAUTH_CLENT_ID = 'askjdhkdfjhsldasddffdsdfjlasdjfh';
const OAUTH_CLENT_SECRET = 'kjghJHGJHFHgfjhhlKJLKJkjgjhfgjhFGKUJHkjhLKJlkjKJGBjhgfJHgkjHLJtt';
const OAUTH_CLENT_SCOPES = ['read:me', 'read:jira-work', 'read:jira-user', 'write:jira-work'];
