
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]),
select,
textarea {
	width: 100%;
	background: #e0f0ff;
	border: solid 1px #999;
	padding: 3px 5px;
}
.filter input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]),
.filter select {
	background: #fff;
}
a,
h1, h1 a,
h2, h2 a {
	color: #326ca6;
}



/* menu */
.menu > h1,
.menu > h2 {
	display: inline-block;
}
a.active {
	font-weight: bold;
}



/* issue details */
.short-meta {
	text-align: center;
}
.short-meta .left {
	float: left;
}
.short-meta .right,
.dates .right {
	float: right;
}
.icon {
	width: 16px;
	height: 16px;
}



/* issue labels */
.label {
	display: inline-block;
	background: #e0f0ff;
	padding: 1px 5px;
	border-radius: 4px;
}



/* markup fields */
.markup {
	background: #e0f0ff;
	padding: 10px;
}



/* togglers (watch/vote) */
.active-state {
	color: #bbb;
	text-decoration: none;
}
.active-state.active {
	color: #000;
}



/* tables */
div.table {
	width: 100%;
	overflow: auto;
}
table {
	border-spacing: 0;
}
td {
	padding: 2px 5px;
	white-space: nowrap;
}



/* tabs */
.tab-links .active {
	font-weight: bold;
}
.tab-pages .tab-page.hide {
	display: none;
}



/* pager */
#pager {
	text-align: center;
}
