
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	padding: 10px;
	line-height: 1.4;
}
input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]),
select,
textarea {
	background: #e0f0ff;
	border: solid 1px #999;
	padding: 3px 5px;
}
input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):not(.manual-width),
select:not(.manual-width),
textarea:not(.manual-width) {
	width: 100%;
}
.filter input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]),
.filter select {
	background: #fff;
}
.required {
	color: red;
	font-weight: bold;
}
h1, h2 {
	line-height: 1.1;
}
h1, h2, p {
	margin: 12px 0;
}
h2 + p,
h2 + a + p {
	margin-top: 0;
}
a,
h1, h1 a,
h2, h2 a {
	color: #326ca6;
}
h3 {
	margin: 0.6em 0 0.2em;
}
pre {
	white-space: pre-wrap;
}
blockquote {
	margin-left: 0;
	border-left: solid 10px rgba(50, 108, 166, .2);
	padding: 1px 0 1px 10px;
}
textarea {
	resize: vertical;
}
ul, ol {
	padding-left: 29px;
}



/* misc tinies */
.active-account {
	font-weight: bold;
}



/* menu */
.top-menu {
	margin-top: 0;
}
.pre-menu {
	display: inline-block;
}
a.active {
	font-weight: bold;
}



/* issue details */
h1.with-parent-issue {
	margin-top: 0;
}
.parent-issue {
	color: #326ca6;
	margin-bottom: 0;
}
.short-meta {
	text-align: center;
}
.short-meta .left {
	float: left;
}
.short-meta .right,
.dates .right {
	float: right;
}

.icon-wrapper {
	position: relative;
}
.icon {
	width: 16px;
	height: 16px;
}
.icon + .icon-name {
	display: none;
}
.icon:active + .icon-name,
.icon:focus + .icon-name {
	display: block;
	position: absolute;
	left: 21px;
	top: -5px;
	padding: 5px 10px;
	background-color: black;
	color: white;
	white-space: nowrap;
	z-index: 4;
}



/* issue labels */
.label {
	display: inline-block;
	background: #e0f0ff;
	padding: 1px 5px;
	border-radius: 4px;
}



/* markup fields */
.markup {
	background: #e0f0ff;
	padding: 10px;
	word-wrap: break-word;
}
.markup > p:first-child {
	margin-top: 0;
}
.markup .code.panel,
.markup tt {
	border: 0;
	outline: solid 1px #ccc;
	background: #f5f5f5;
}
.markup .code.panel pre {
	margin: 0;
	padding: 5px;
}
.markup tt {
	display: inline-block;
	padding: 0 2px;
}



/* togglers (watch/vote) */
.active-state {
	color: #000;
	text-decoration: none;
	opacity: 0.3;
}
.active-state.active {
	opacity: 1.0;
}



/* visibility toggles */
h2.visiblity-toggle-header > a {
	text-decoration: none;
}
h2.visiblity-toggle-header > a:after {
	/*content: " ∧";*/
	content: " \2227";
}
h2.visiblity-toggle-header.open > a:after {
	/*content: " ∨";*/
	content: " \2228";
}
h2.visiblity-toggle-header:not(.open) + div {
	display: none;
}



/* tables */
div.table {
	width: 100%;
	overflow: auto;
}
table {
	border-spacing: 0;
}
.table.striping tr:nth-child(odd) {
	background-color: #eee;
}
td {
	padding: 2px 5px;
	white-space: nowrap;
}
.table.worklogs td {
	padding: 5px;
}
.table.striping tr + tr.new-section th,
.table.striping tr + tr.new-section td {
	border-top: solid 2px #999;
}
td.wrap {
	white-space: normal;
}
.table .actions a {
	display: inline-block;
	padding: 0px 6px;
	background-color: #ddd;
	border: solid 1px #999;
	border-radius: 2px;
}


/* tabs */
.tab-links .active {
	font-weight: bold;
}
.tab-pages .tab-page.hide {
	display: none;
}



/* pager */
#pager {
	text-align: center;
}
#pager a.disabled {
	color: inherit;
	text-decoration: none;
}



/* body loading animation */
body:not(.loading) > .ver-loader,
body:not(.loading) > .hor-loader {
	display: none;
}
body.loading > .ver-loader,
body.loading > .hor-loader {
    position: fixed;
    top: 0;
    background-color: lightblue;

	-webkit-animation-name: verLoader;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}
body.loading > .ver-loader {
    right: 0;
    width: 10px;
}
body.loading > .hor-loader {
    left: 0;
    height: 10px;
	-webkit-animation-name: horLoader;
	-webkit-animation-delay: .15s;
}

@-webkit-keyframes verLoader {
    0% {
        top: 0;
        height: 0;
    }
    25% {
        top: 0;
        height: 100%;
    }
    50% {
        top: 100%;
        height: 0;
    }
    75% {
        top: 0;
        height: 100%;
    }
    100% {
        top: 0;
        height: 0;
    }
}

@-webkit-keyframes horLoader {
    0% {
        left: 0;
        width: 0;
    }
    25% {
        left: 0;
        width: 100%;
    }
    50% {
        left: 100%;
        width: 0;
    }
    75% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 0;
        width: 0;
    }
}
