<?php

const RDX_JIRA_LIB_TEST_URL = 'https://your.jira.com';
const RDX_JIRA_LIB_TEST_USER = 'joe';
const RDX_JIRA_LIB_TEST_PASS = 'hancock';
const RDX_JIRA_LIB_TEST_ISSUE = 'PROJECT-17';

const RDX_JIRA_LIB_TEST_ALLOWED_IPS = '127.0.0.1';
